html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('imagen/mapamundi-colores.jpg');
    background-size: cover;      /* Para que cubra toda la pantalla */
    background-position: center; /* Centrado */
    background-repeat: no-repeat; /* Que no se repita */
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PALETA A USAR (azul y un poco de verde)
#60B5FF rgb(96, 181, 255)
#AFDDFF rgb(175, 221, 255)
#FFECDB rgb(255, 236, 219)
#FF9149 rgb(255, 145, 73)
*/

#container {
    background-color: #ffce74;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    text-align: center;
    font-family: Georgia, serif;
}

#puntaje {
    display: none;
}  

section {
    margin-bottom: 20px;
}

#inicio-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#nombreJugador {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid orangered;
    border-radius: 6px;
    font-family: Georgia, serif;
    font-size: 1rem;
}

#nombreJugador, button {
    display: block;
    margin: 10px auto;
}

#pregunta-sec h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-family: Georgia, serif;
}

#opciones-sec {
    margin-bottom: 20%;
    font-family: Georgia, serif;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* opcional: centra verticalmente si hay altura */
    gap: 16px;               /* opcional: espacio entre botones */
    margin-top: 20px;        /* opcional */
    
}

button {
    background-color: #0BB3D9;
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
    width: 150px;
    white-space: normal;

    /* Estas son las 3 líneas clave para igualar altura y centrar */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



button:hover {
    background-color: #3BC9D9;
    color: white;
}

#ranking-sec {
    margin-top: 20px;
    margin-bottom: 10px;
}

#resultado-sec {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

footer {
    padding: 10px 0;
    text-align: center;
    background-color: #ffce74;
    color: white;
    font-size: 0.9rem;
    border-top: 2px solid orangered;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}
